---
import Layout from "../../layouts/Layout.astro";
import { getAllSVG } from "../../../backend/backend";
import { ui } from "../../i18n/ui.js";

const locale = (Astro.locals.lang as "en" | "fr") ?? "en";
const SVGs = await getAllSVG();
---

<Layout>
  <div class="flex flex-col h-full glass bg-base-200 p-8 pt-24 gap-6">
    <h1 class="text-4xl font-bold mb-4">
      {ui[locale].gallery.title}
    </h1>
    <div class="flex flex-wrap gap-4">
      {
        SVGs && SVGs.length > 0 ? (
          SVGs.map((SVG) => (
            <a
              href={`/gallery/${SVG.id}`}
              class="bg-base-300   w-fit h-fit p-4 justify-center items-center thin-border"
            >
              <h2 class="text-xl font-bold">{SVG.name}</h2>
              <div
                class="flex items-center justify-center w-[300px] h-[300px]   overflow-hidden"
                set:html={SVG.code_svg}
              />
            </a>
          ))
        ) : (
          <span class="text-error">{ui[locale].gallery.empty}</span>
        )
      }
    </div>
  </div>
</Layout>
